*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
background-color: darkgray;
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239c0022' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2{
    color: white;
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 4px;
    text-align: center;
}

p{
    color: white;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 4px;
    text-align: left;

}

.Division{
    background-color: #a3a3a3;
    background-color: #c7c7c7;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239c0022' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    display: grid;
    grid-template-columns: 50% 50%;
}

.Cuar1{
    background-color:cornflowerblue;
    border-radius: 8px;
    box-shadow: 7px 7px 7px #696969;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 25px;
    width: 400px;
    height: 500px;
}

.Cuar2{
    background-color:mediumslateblue;
    border-radius: 8px;
    box-shadow: 7px 7px 7px #696969;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 25px;
    width: 400px;
    height: 500px;

}

.ingreso{
    background-color:azure;
    border-top: 40px;
    border-radius: 5px;
    border: 2px solid #6495ED;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 8px;
    width: 300px;
}

.ajus{
    margin-top: 10px;
    text-align: center;
}

.boton{
    background-color:springgreen;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-flex;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    transition: .5s ease all;
    width: 120px;

}
.boton:hover{
background-color:powderblue;
}



